{{#if title}}#+TITLE: {{ title }}
{{/if~}}
{{#if description}}#+DESCRIPTION: {{ description }}
{{/if~}}
{{#if date}}#+DATE: {{ date }}
{{/if~}}
{{#if author}}#+AUTHOR: {{ author }}
{{/if~}}
{{~#if tags}}#+TAGS: {{#each tags}}{{ this }}{{#unless @last}} {{/unless}}{{/each}}
{{/if~}}
{{#if uuid}}#+CUSTOM_ID: {{uuid}}
{{/if~}}
#+STUBBLE_VERSION: v{{ stubble_version }}

